$black: #202020;
$dark: #203127;
$light: #fdfbf6;
$links: #3e5f4c;
$links-dark: #3e5f4c;

html {
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
  color: $black;
  line-height: 1.4;
  background-color: $light;
  margin:0;
}

body {
  width:100vw;
  height: 100vh;
  margin:0;
  position: static;
  background-image: url(/images/green-plants-no-back-v4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
}

body .body-content {
  max-width: 1000;
  width: 80%;
  margin: 2rem auto;
}

h1, h2, h3, h4, p, ol, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-align:justify;
  text-transform: uppercase;
  line-height: 1;
  font-family: poppins, sans-serif;
  span.bxtr {
    font-size: 3rem;
    letter-spacing: .55rem;
    font-weight: 700;
  }
}

p {
  margin-bottom: .5rem;
}

a {
  color: $links;
  border-bottom: 1px dotted $links;
  text-decoration: none;
}


.header {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  .head-branding {
    border-bottom: 1px solid $dark;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 6%;
    padding-bottom: 1rem;
    .head-logo {
      padding:0 1rem;
    }
  }
  .head-intro {
    width: 60%;
    margin: 1rem auto;
    text-align: center;
  }
  a {
    border: none;
    color: $dark;
  }
  img {
    max-width: 150px;
    max-height: 150px;
    height: auto;
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(20px,auto);
  grid-gap: 1rem;
}

.item, .item-title {
  border-radius: 0;
  padding: 1rem;
}

.item {
  //background-color: rgba(161,137,162,.2);
  color: $dark;
  span {
    background-color: $dark;
    color: $light;
    display: block;
    font-size: .8rem;
    margin:.5rem 0 auto;
    padding: 5px 2px;
    width: fit-content;
    border-radius: 0;
  }
}

.item-title {
  background-color: $dark;
  color: $light;
}

.footer {
  width:100%;
  background-color:$light;
  color: $dark;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 1rem 0 .5rem;
  font-size: .7rem;
  font-weight: 500;
  display: inline-flex;
  justify-content: space-around;
  p {
    text-align: right;
  }
  .footer-links {
    width: auto;
    max-width: 60%;
    ul {
      list-style-type: none;
      display: inline-flex;
      justify-content: space-around;
      flex-wrap: wrap;
      li {
        margin: .2rem 1rem .2rem 0;
      }
    }
  }
}