html {
  font-family: roboto, arial, sans-serif;
  font-size: 100%;
  color: #A189A2;
  line-height: 1.4;
//  background-image: url(/images/clouds-background.jpg);
//  background-position: bottom center;
//  background-size: cover;
//  background-attachment: fixed;
//  background-repeat: no-repeat;
  background-color: #FFF;
}

body .body-content {
  max-width: 1000;
  width: 80%;
  margin: 2rem auto;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  width: fit-content;
}

h1 {
  background-color: #A189A2;
  color: #FFF;
  font-size: 2.2rem;
  margin-bottom: .5rem;
}

h2 {}

p {
  margin-bottom: .5rem;
}

a {
  color: #7B627C;
  border-bottom: 1px dotted #7B627C;
  text-decoration: none;
  font-weight: 600;
}

ul, ol {
  margin:0 0 1rem 0;
  padding:0 1rem;
}


.header {
  height: 100%;
  width: 11rem;
  margin: 1rem 1rem 1rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(20px,auto);
  grid-gap: 1rem;
}

.item, .item-title {
  border-radius: 0;
  padding: 1rem;
}

.item {
  //background-color: rgba(161,137,162,.2);
  color: #302930;
  span {
    background-color: #302930;
    color: #FFF;
    display: block;
    font-size: .8rem;
    margin:.5rem 0 auto;
    padding: 5px 2px;
    width: fit-content;
    border-radius: 0;
  }
}

.item-title {
  background-color: #302930;
  color: #fff;
}

@media (min-width:600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-title {
    grid-column: 1 / 4;
  }
  .item {
    //text-align: center;
    span {
      margin:.5rem auto 0;
    }
  }
}

@media (min-width:900px) {
  .header {
    float: left;
    margin-top: 0;
  }
  .grid {
    margin-left: 12rem;
  }
}

.footer {
  width:100%;
  height:2rem;
  background-color:#FFF;
  color: #0C2446;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  p {
    font-size: .7rem;
    font-weight: 500;
    text-align: right;
    transform: translate(-11%,50%);
  }
}